@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 189 92% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 192 20% 95%;
    --secondary-foreground: 0 0% 10%;
    --muted: 192 20% 90%;
    --muted-foreground: 189 10% 45%;
    --accent: 32 100% 57%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 189 20% 80%;
    --input: 189 20% 80%;
    --ring: 189 92% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 189 50% 10%;
    --foreground: 0 0% 98%;
    --card: 189 45% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 189 45% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 189 92% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 192 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 192 20% 20%;
    --muted-foreground: 189 10% 70%;
    --accent: 32 100% 57%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 189 20% 30%;
    --input: 189 20% 30%;
    --ring: 189 92% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}